# vision-player sync_media.env sample
# copy to space-vision-player/config/sync_media.env and edit
REMOTE_USER=ishii
REMOTE_HOST=192.168.210.1
REMOTE_BASE=/srv/space-media-server/vision_players/sample_vision_player/output
